.card-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(205px, 1fr));
  gap: 40px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: auto;
}

.card-body {
  padding: 10px;
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.card-text {
  font-size: 1rem;
  color: #555;
}

.btn-primary {
  width: 100%;
}
.tama {
  width: "425px";
  height: "350px";
}
