.marcas {
    background-image: url("../multimedia/marcas_banner.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .titulo {
    color: white;
    padding: 10%;
  }

  .parrafo {
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    padding-right: 10%;
    padding-left: 10%;
  }


.imagenes-container {
    display: flex;
    justify-content: center;
}

.imagen {
    width: 160px; 
    height: 100px; 
    margin:  150px; 
}
